.how-it-works {
  background: #fafafa;
  padding: 72px;
  h6 {
    font-size: 12px;
    line-height: 16px;
    color: #e72d65;
  }

  h3 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 16px 0;
  }

  h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6e7176;
  }

  p {
    margin-top: 40px;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    span {
      color: #00838f;
    }
  }

  &-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    position: relative;
    &-small {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 55px 36px;
      background: #ffffff;
      box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.11);
      border-radius: 8px;
      width: min(60%, 420px);
      h4 {
        margin-top: 18.5px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        background: #fafafa;
        border-radius: 8px;
        padding: 16px;
        margin-top: 48px;
        width: 345px;
        overflow: hidden;
        height: 92px;
        span {
          font-weight: 600;
          color: #000;
        }
      }
    }

    &-icon {
      margin: 0 40px;
      margin-top: 92px;
      align-self: center;
    }

    &-large {
      padding: 55px 36px;
      background: #ffffff;
      box-shadow: 0px 9px 16px rgba(0, 0, 0, 0.11);
      border-radius: 8px;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      h4 {
        margin-top: 18.5px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
      }

      &-row {
        display: flex;
        flex-direction: row;
        align-items: center;

        p {
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          padding: 16px;
          background: #dbecee;
          border-radius: 8px;
          height: 92px;
          width: 33%;
        }
        &-icon {
          margin: 0px 20px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  .how-it-works {
    background: #fafafa;
    padding: 0;
    padding-top: 32px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 48px;
    h3 {
      font-size: 32px;
      line-height: 38px;
      text-align: center;
    }
    h6 {
      text-align: center;
    }

    > p {
      margin-top: 48px;
      margin-right: 16px;
      margin-left: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }
    &-cards {
      margin-top: 32px;
      flex-direction: column;
      &-small {
        padding: 24px;
        width: 100%;
        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
        }
        p {
          margin-top: 32px;
          font-size: 14px;
          line-height: 20px;
          width: 100%;
          text-align: left;
          height: auto;
        }
      }

      &-icon {
        margin: 16px 0px;
        transform: rotate(90deg);
      }
      &-large {
        padding: 24px;
        h4 {
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
        }
        &-row {
          margin: 0px;
          margin-top: 32px;
          width: 100%;
          p {
            margin: 0px;
            padding: 16px;
            width: 33%;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: left;
          }
          &-icon {
            margin: 0px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .how-it-works {
    &-cards {
      &-large {
        &-row {
          flex-direction: column;
          p {
            width: 100%;
          }
          &-icon {
            margin: 20px 0px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
