.values {
  &-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 72px 0px 24px;
    h6 {
      color: #e72d65;
    }

    h3 {
      margin: 16px 0;
    }
    > p {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #6e7176;
    }
  }

  &-content {
    padding: 50px 72px 72px;
    .value-item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        margin: 16px 0 8px;
      }
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6e7176;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    background: #fff;
    padding-bottom: 40px;
    &-header {
      margin: 16px;
      padding: 0;
      align-items: flex-start;
      justify-content: flex-start;

      h3 {
        margin: 16px 0;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
      }
    }

    &-content {
      padding: 0 24px;
    }
  }
}
