.footer-section {
  background-color: #000913;
  padding: 40px;
  padding-bottom: 0;
  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    p {
      font-size: 24px;
      margin: 48px 0;
    }
    a {
      margin-bottom: 16px;
    }
    .button-container {
      .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
        border-radius: 50px;
        border: 1px solid white;
        margin-right: 16px;
      }
    }
  }
  footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 32px;
    color: white;
    flex-wrap: wrap;
    p {
      margin-bottom: 8px;
      font-size: 14px;
      margin-left: 32px;
    }
    a {
      font-size: 14px;
      margin-left: 32px;
      margin-bottom: 8px;
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 600px) {
  .footer-section {
    padding: 24px;
    padding-top: 40px;
    padding-bottom: 60px;
    footer {
      flex-direction: column;
      a,
      p {
        margin-left: 0;
      }
    }
  }
}
