.about {
  h3 {
    padding: min(80px, 10%);
    padding-bottom: 0;
    margin-bottom: 16px;
  }

  .info {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6e7176;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 min(80px, 10%);
    padding-bottom: min(80px, 10%);
    .person-card {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 16px;
      background: #ffffff;
      border: 1px solid #dbecee;
      box-sizing: border-box;
      box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      min-height: 160px;
      &-image {
        width: 86px;
        height: 86px;
        object-fit: contain;
        object-position: center;
      }

      &-content {
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        h4 {
          margin-bottom: 10px;
        }
        &-role {
          background: #dbecee;
          border-radius: 4px;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 2px 8px;
          height: 20px;
          p {
            color: #00838f;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about {
    h3 {
      padding: 24px;
      padding-bottom: 0;
      margin-bottom: 24px;
    }
    &-content {
      padding: 0;
      .peron-card {
        margin-left: 0;
        margin-right: 0;
        height: 50%;
        &:hover {
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          transform: none;
        }
        &-text {
          .description {
            opacity: 1;
            max-height: 1000px;
          }
        }
      }
    }
  }
}
